.feedEkList{
	width:100%;	
	list-style:none outside none;
	background-color:#FFFFFF;
	border-top:1px solid #D3CAD7;
	padding:4px 6px;
	color:#3E3E3E;
	overflow: auto;
	zoom: 1;
	margin-top: 0px;
}

.feedEkList li{
	width: 140px;
	margin: 5px;
	float: left;
	overflow: auto;
}

.feedEkList li:last-child{
	border-bottom:none;
}

.feedEkList .itemContent{
	font-size: 12px;
	margin-top: 5px;
}

.feedEkList .itemContent iframe{
	width: 100%;
	height: auto;
}

.feedEkList .itemContent span:after{
	content: " Video ";
	font-weight: bold;
	padding: 5px;
	color: white;
	background: #000;
	border-left: #0D77B6 5px solid;
}

.feedEkList .itemTitle a{
	font-weight:bold;
	color:black !important;
	text-decoration: none;
	font-size: 14px;

}

.feedEkList .itemTitle{
	padding: 5px;
}

.itemTitle a:hover{ 
	text-decoration:underline 
}

.itemDate{
	font-size:11px;
	color:#AAAAAA;
}

.feedEkList img{
	width: 100%;
	height: auto;
}

#caja div{
	width: 220px;
	margin: 10px;
	float: left;
}

body{
	font-family: sans-serif;
}

.modal-header{
	text-align: center;
}

.modal-body{
	text-align: justify;
}

.close{
	z-index: 10000;
}

.item-news{
	width: 30%;
	display: inline-block;
	z-index: 10;
	box-sizing: border-box;
}

#modal-container{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 10000;
	min-height: 100%;
	overflow-y: scroll;
}

.modal{
	width: 100%;
	background: #fff;
	position: relative;
	margin: 5% auto;
	padding: 30px;
	border-radius: 7px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.9);
	background: #fff;
	text-shadow: 0 1px 0 #fff;
}

.article-bar{
	height: 20px;
}

.modal p{
	font-size: 14px;
}

.modal a{
	font-size: 14px;
}

#container h3{
	padding-left: 10px;
	background: white;
}

li[data-category="1"] .article-bar{
	background: rgb(239,32,12);
}

li[data-category="2"] .article-bar{
	background: rgb(20,237,9);
}

li[data-category="3"] .article-bar{
	background: rgb(226,54,150);
}

li[data-category="4"] .article-bar{
	background: rgb(24,140,242);
}

li[data-category="5"] .article-bar{
	background: rgb(249,167,0);
}

li[data-category="6"] .article-bar{
	background: rgb(253,234,12);
}